body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #797dac;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gif{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif img {
    width: 30%;
    height: 30%;
}


h1 {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    margin: 15px 0;
}